<h1>Student Form</h1>
<%= render "form", student: @student %>

<style>/*
passing it an instance of pet as an argument so that it 
knows whether submitting the form should create 
(if @student is an empty instance) or update 
(if @student is an existing pet from our database)
*/</style>

<%= link_to "Back to index", students_path %>


