<h1>School Class Details</h1>

<div>
<label>Class Name: </label>
<%= @school_class.title %>
</div><br>
<div>
<label>Class Room Number: </label>
<%= @school_class.room_number %>
</div><br>

<div><%= link_to "Edit?", edit_school_class_path%></div><br>
<%= link_to "Back to School Class List", school_classes_path %>